<%= form_for :review,  :url=> {:action => "create" }, :html => { :method => :post } do |f| %>

<br>
   <%= f.label "New Review" %><br>
    <%= f.text_field :comment %>
  </p>
  <p>
    
  </p>
  <p>
    <%= f.submit %>
  
<% end %>